<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/style.css">
    
</head>
<body>

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
          <div class="list-group list-group-flush mx-3 mt-4">
            <h3>CRUD SYSTEM</h1>
            </a>
            <a href="/customers" class="list-group-item list-group-item-action py-2 ripple active">
              <span>Customers</span>
            </a>
			<a href="/categories" class="list-group-item list-group-item-action py-2 ripple">
                <span>Categories</span>
              </a>
            <a href="/products" class="list-group-item list-group-item-action py-2 ripple">
                <span>Products</span></a
            >
            <a href="/orders" class="list-group-item list-group-item-action py-2 ripple"
              ><span>Orders</span></a
            >    
          </div>
        </div>
      </nav>
    
    <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Customers <a href="/customers/new">+</a></h2>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>ID</th>
						      <th>Name</th>
						      <th>Email</th>
						      <th>Phone</th>
                              <th>Address</th> 
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
                            <% for(let customer of customers){ %>
						    <tr class="alert" role="alert">
						      <th scope="row"><%= customer._id %></th>
						      <td><%= customer.name %></td>
						      <td><%= customer.email %></td>
						      <td><%= customer.phoneNumber %></td>
                              <td><% if (customer.addresses && customer.addresses.length > 0) { %>
								<% customer.addresses.forEach(address => { %>
									<%= address.city %>, <%= address.state %><br>
								<% }) %>
							<% } else { %>
								No Address Found
							<% } %></td>
						      <td>
								<a href="customers/<%= customer._id %>/edit" class="edit" aria-label="Edit">
									<span aria-hidden="true"><i class="fa fa-pencil"></i></span>
								</a>
								<form action="/customers/<%= customer._id %>?_method=DELETE" method="POST">
									<button type="submit" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</button>
								</form>
				        	</td>
						    </tr>
                            <% } %>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>